h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    text-align: center;
    size: 2000;
    font-family:'Lucida Sans';
}

#game1Button {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}

#game2Button {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}

#birdComingSegment {
    color: red;
    text-align: center;
    font-family:'Lucida Sans';
}

#game2Segment {
    color: yellowgreen;
    text-align: center;
    font-family:'Lucida Sans';
}

#playBirdComing {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}

#playGeoDash {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}