html {
  height: 100%;
  width: 100%;
}

#logInPageButton {
    font-size: 5000;
    padding: 50px;
    text-align: center;
    color: yellow;
    border: 5000;
}

#game1Button {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}

#game2Button {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}

#birdComingSegment {
    color: yellow;
    text-align: center;
    font-family:'Lucida Sans';
}

#geoDashSegment {
    color: yellowgreen;
    text-align: center;
    font-family:'Lucida Sans';
}

#playBirdComing {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}

#playGeoDash {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}

body {
  background-color: #3c76ac;
  color: yellow;
  font-family: Arial, sans-serif;
  padding: 2rem;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #8eb3df;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: yellow;
  font-size: 2.5rem;
  margin-bottom: 0;
}

h2 {
  color: yellow;
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  background-color: #ffd000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 1.0s;
}

button:hover {
  background-color: #ffee0042;
  transform: translateY(-2px);
}

#statusMessage {
  margin-top: 1rem;
  font-style: italic;
}