html {
  height: 100%;
  width: 100%;
}

nav {
    background-color: #0143a5;
    text-align: center;
    padding: 5px 25px;
    display: flex;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid black;
    text-decoration: none;
    align-items: center;
}

h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    text-align: center;
    size: 2000;
    font-family:'Lucida Sans';
}

#logInPageButton {
    font-size: 5000;
    padding: 50px;
    text-align: center;
    color: yellow;
    border: 5000;
}

#game1Button {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}

#game2Button {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}

#birdComingSegment {
    color: red;
    text-align: center;
    font-family:'Lucida Sans';
}

#geoDashSegment {
    color: yellowgreen;
    text-align: center;
    font-family:'Lucida Sans';
}

#playBirdComing {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}

#playGeoDash {
    font-size: 5000;
    text-align: center;
    color: yellow;
    border: 5000;
}